
<div class = "container animated fadeIn">
    <div class ="row mt-3">
        <div class = "offset-lg-1 col-lg-10">
            <a ng-href = "#!/home" class = "btn btn-info text-white">
                <i class = "fa fa-chevron-left"></i>
                Voltar
            </a>
        </div>
    </div>
    <div class ="row mt-2">
        <div class ="offset-lg-1 col-lg-10">
            <div class = "card">
                <div class = "card-header bg-info text-white">
                    <i class = "fa fa-refresh"></i> Editar Dados do Veiculo
                </div>
                <div class ="card-body">
                    <form ng-submit = "ctrl.editar(ctrl.veiculo)">
                        <div class ="row">
                            <div class ="col-lg-5">
                                <input 
                                    name ="veiculo"
                                    ng-model ="ctrl.veiculo.veiculo"
                                    placeholder = "Nome do Veiculo"
                                    class = "form-control"
                                    required>
                            </div>
                            <div class ="col-lg-3">
                                <input 
                                    ng-model ="ctrl.veiculo.marca"
                                    placeholder = "Marca"
                                    class = "form-control"
                                    required>
                            </div>
                            <div class ="col-lg-2">
                                <input 
                                    ng-model ="ctrl.veiculo.ano"
                                    type = "number"
                                    placeholder = "Ano"
                                    class = "form-control"
                                    min = "1900"
                                    required>
                            </div>
                            <div class ="col-lg-2">
                                <select title = "Vendido"
                                        ng-model ="ctrl.veiculo.vendido"
                                        class = "form-control" required>
                                    <option value ="" >
                                        Vendido
                                    </option>
                                    <option ng-value="1">
                                        Sim
                                    </option>
                                    <option ng-value = "0">
                                        Não
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class ="row mt-2">
                            <div class ="col-lg-12">
                                <textarea ng-model ="ctrl.veiculo.descricao" class = "form-control" placeholder="Descrição" required></textarea>
                            </div>

                        </div>
                        <div class ="row mt-2">
                            <div class ="col-lg-12 ">
                                <button type="submit" class = "btn btn-info btn-block">
                                    <i class = "fa fa-check"></i>
                                    Editar Veiculo
                                </button>
                            </div>

                        </div>
                    </form>
                </div
            </div>
        </div>
    </div>
</div>
