
<div class = "container ">
    <div class ="row mt-2">
        <div class ="col-lg-12">
            <a ng-href = "#!/novo-veiculo" class = "btn btn-info btn-block">
                <i class = "fa fa-plus"></i>
                Novo Veículo
            </a>
        </div>
    </div>
    <div class ="row mt-3">
        <div class ="col-lg-12">
            <div class ="card ">
                <div class ="card-header bg-info text-white">
                    <i class = "fa fa-search"></i>
                    Parâmetros de Busca
                </div>
                <div class ="card-body">
                    <form ng-submit="ctrl.buscarVeiculos(ctrl.criterios)">

                        <div class ="row">
                            <div class ="col-lg-3">
                                <input 
                                    ng-model = "ctrl.criterios.veiculo"
                                    class = "form-control"
                                    placeholder = "Nome do Veiculo">
                            </div>
                            <div class ="col-lg-3">
                                <input 
                                    ng-model = "ctrl.criterios.marca"
                                    class = "form-control"
                                    placeholder = "Marca">
                            </div>
                            <div class ="col-lg-3">
                                <input 
                                    ng-model = "ctrl.criterios.ano"
                                    type ="number"
                                    min ="1900"
                                    class = "form-control"
                                    placeholder = "Ano">
                            </div>
                            <div class ="col-lg-3">
                                <select title = "Vendido"
                                    ng-model = "ctrl.criterios.vendido"
                                    class = "form-control">
                                    <option ng-value ="" disabled>
                                        Vendido
                                    </option>
                                    <option ng-value="1">
                                        Sim
                                    </option>
                                    <option ng-value = "0">
                                        Não
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class ="row  mt-2">
                            <div class = "col-lg-12 ">
                                <button type ="submit" class = "btn btn-info">
                                    <i class = "fa fa-search"></i>
                                    Buscar
                                </button>
                                <button ng-click="ctrl.resetarBusca()" class = "btn btn-secondary text-white">
                                    <i class = "fa fa-list"></i>
                                    Listar Todos
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div ng-if = "ctrl.veiculos.length > 0" class ="row mt-3 animated fadeIn">
        <div class ="col-lg-12">
            <table class="table table-striped">
                <thead class="bg-info text-white">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Veiculo</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Vendido</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat = "veiculo in ctrl.veiculos">
                        <th scope="row">{{veiculo.id}}</th>
                        <td>{{veiculo.veiculo}}</td>
                        <td>{{veiculo.marca}}</td>
                        <td>{{veiculo.ano}}</<td>
                        <td>
                            <span ng-if = "veiculo.vendido === 1" class="badge badge-success"> SIM</span>
                            <span ng-if = "veiculo.vendido === 0" class="badge badge-danger"> NÃO</span>
                        </td>   
                        <td>
                            <a ng-href="#!/ver-detalhes/{{veiculo.uuid}}" title = "Exibir Detalhes" class = "btn btn-info text-white">
                                <i class = "fa fa-eye"></i>
                            </a>
                            <a ng-href="#!/editar-veiculo/{{veiculo.uuid}}" title = "Editar Dados" class = "btn btn-info text-white">
                                <i class = "fa fa-edit"></i>
                            </a>
                            <a  ng-click = "ctrl.removerVeiculo(veiculo)" title = "Apagar Registro" class = "btn btn-danger text-white">
                                <i class = "fa fa-trash"></i>
                            </a>


                        </<td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    
    <div class ="row mt-3 animated fadeIn"   ng-if = "ctrl.veiculos.length === 0" >
        <div class = "alert offset-lg-1 col-lg-10 bg-info text-white">
            <i class = "fa fa-exclamation-circle"></i>
             Nenhum resultado encontrado.
        </div>
    </div>

    <div class ="row mt-2">
        <div class ="col-lg-12">
            <nav aria-label="Page navigation example" >
                <ul class="pagination justify-content-center">
                    <li  ng-repeat= "pagina in ctrl.paginas"  class="page-item">
                        <a class="page-link" ng-href="#!/home?{{pagina.query}}">
                            {{pagina.numero}}
                        </a>

                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
